<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.metroapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Islamabad.IslamabadStationProperties.SaddarStationProperties"></activity>
        <activity android:name=".CommonActivities.FirstTimeStart" />
        <activity android:name=".CommonActivities.About" />
        <activity android:name=".CommonActivities.Dispatcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Islamabad.IslamabadActivity" />
        <activity android:name=".CommonActivities.SelectCityPakistan" />
        <activity android:name=".CommonActivities.SelectProvincePakistan" />
        <activity android:name=".CommonActivities.DestinationTime" />
        <activity android:name=".CommonActivities.station1Properties" />
        <activity android:name=".CommonActivities.SelectLanguage" />
        <activity android:name=".CommonActivities.SelectCountry" />
        <activity android:name=".Lahore.LahoreActivity" />
    </application>

</manifest>